@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');
/* main styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}
.section-title {
    font-size: 24px;
    color: #562EFF;
    margin-top: 3px;
}
/* top players styles */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 870px;
    background-color: #fff;
    padding: 30px;
    margin-top: 30px;
    border-radius: 5px;
}
hr {
    border: 1px solid #D1D1D10;
    margin-bottom: 27px;
}
.players {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap:30px;
    margin-bottom: 30px;
}
.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 75px;
    height: 75px;
}
.player-name {
    margin-left: 16px;
    font-size: 18px;
}
/* top blog styles */
.blogs {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog {
    display: flex;
}
.thumbnail img {
    width: 177px;
    height: 117px;

}
.blog-info {
    margin-left: 16px;
}

.blog-title {
    font-size: 20px;
    color: #000;
}
.blog-author {
    font-size: 16px;
    color: #9F9F9F;
}
.blog-author a{
    color: #562EFF;
    text-decoration: none;
}
/* latest course styles */
.courses {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
}
.course {
    border-radius: 5px;
    box-shadow: #eeecec 0px 1px 5px 0px;
    padding: 10px;
}
.course-banner img {
    width: 100%;
    height: 104px;
}
.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star.filled {
    font-size: 14px;
    color: #FFC014;
}
.fa-star.empty {
    color: #eae8e8;
}
.course-duration {
    background-color: #FEE5DF;
    color: #FF4A60;
    padding: 5px 8px;
    border-radius: 21px;
    font-size: 15px;
    font-weight: 500;
}


/* media query */
@media only screen and (max-width: 688px) {
    .container {
        width: 100%;
    }
    .players,.blogs,.courses {
        grid-template-columns: repeat(1,1fr);
    }
    .player,.blog {
        flex-direction: column;
    }
}

@media only screen and (min-width:688px) and (max-width: 992px) {
    .container {
        width: 100%;
    }
    .players,.courses {
        grid-template-columns: repeat(2,1fr);
    }
    .blogs {
        grid-template-columns: repeat(1,1fr);
    }
}